PDFs/Literatūros_sąrašas.tex
PDFs/Literatūros_sąrašas.aux
PDFs/Literatūros_sąrašas.fdb_latexmk
PDFs/Literatūros_sąrašas.fls
PDFs/Literatūros_sąrašas.log
PDFs/Literatūros_sąrašas.out
PDFs/Literatūros_sąrašas.synctex.gz
assets/css/style.scss
