PDFs/Literatūros_sąrašas.tex
PDFs/Literatūros_sąrašas.aux
PDFs/Literatūros_sąrašas.fdb_latexmk
PDFs/Literatūros_sąrašas.fls
PDFs/Literatūros_sąrašas.log
PDFs/Literatūros_sąrašas.out
PDFs/Literatūros_sąrašas.synctex.gz
assets/css/style.scss
                        PDFs/Projekto_paraiška.aux
PDFs/Projekto_paraiška.toc
PDFs/Projekto_paraiška.synctex.gz
PDFs/Projekto_paraiška.tex
PDFs/Projekto_paraiška.out
PDFs/Projekto_paraiška.log
PDFs/Projekto_paraiška.lof
PDFs/Projekto_paraiška.fls
PDFs/Projekto_paraiška.fdb_latexmk
PDFs/Projekto_paraiška.aux
assets/images/KTU.png
Projekto_planas.mpp
PDFs/Reikalavimų_specifikacija.tex
PDFs/Reikalavimų_specifikavimas.aux
PDFs/Reikalavimų_specifikavimas.aux
PDFs/Reikalavimų_specifikavimas.fdb_latexmk
PDFs/Reikalavimų_specifikavimas.fls
PDFs/Reikalavimų_specifikavimas.log
PDFs/Reikalavimų_specifikavimas.out
PDFs/Reikalavimų_specifikavimas.synctex.gz
PDFs/Reikalavimų_specifikavimas.toc
PDFs/Testavimo_planas.aux
PDFs/Testavimo_planas.fls
PDFs/Testavimo_planas.log
PDFs/Testavimo_planas.out
PDFs/Testavimo_planas.synctex.gz
PDFs/Testavimo_planas.toc
PDFs/Testavimo_planas.fdb_latexmk
Diagrams/Baigiamasis_darbas_ER.mdzip
Application/Input/BED/Human/NOT USED SAMPLES/human_bed.bed
Application/Input/BED/Human/NOT USED SAMPLES/SRX701990.05.bed
Application/Input/BED/Human/NOT USED SAMPLES/SRX4417527.05.bed
Application/Input/BED/Human/NOT USED SAMPLES/SRX5716452.05.bed
.gitignore
Application/Input/BED/Mouse/NOT USED SAMPLES/mouse_bed.bed
Application/Input/BED/Mouse/NOT USED SAMPLES/PEAKS054905_Tbx5_P70326_MACS2_12.bed
.gitignore
Application/Input/BED/Mouse/NOT USED SAMPLES/SRX4298473.05.bed
Diagrams/Baigiamasis_darbas_ER.mdzip.bak.bak
Diagrams/Baigiamasis_darbas_ER.mdzip
Diagrams/Baigiamasis_darbas_ER.mdzip.bak
Diagrams/Baigiamasis_darbas_ER.mdzip
.gitignore
Diagrams/.$ER.drawio.bkp
Application/Input/BED/Mouse/NOT USED SAMPLES/SRX13476141.05.bed
Application/Input/BED/Mouse/NOT USED SAMPLES/SRX4298469.05.bed
.gitignore
Application/Input/BED/Mouse/NOT USED SAMPLES/SRX2378798.05.bed
Application/Input/BED/Human/NOT USED SAMPLES/SRX11080727.05.bed
Application/Databases/Homo_sapiens_protein/db.zip
.gitignore
.gitignore
Application/Input/BED/Mouse/Mouse.zip
Application/Input/BED/Human/Human.zip
Diagrams/ER.drawio
Diagrams/ER.drawio
Diagrams/Baigiamasis_darbas_ER.mdzip
Diagrams/Baigiamasis_darbas_ER.mdzip
Diagrams/.$PAM.drawio.bkp
.vscode/launch.json
