PDFs/Literatūros_sąrašas.tex
PDFs/Literatūros_sąrašas.aux
PDFs/Literatūros_sąrašas.fdb_latexmk
PDFs/Literatūros_sąrašas.fls
PDFs/Literatūros_sąrašas.log
PDFs/Literatūros_sąrašas.out
PDFs/Literatūros_sąrašas.synctex.gz
assets/css/style.scss
                        PDFs/Projekto_paraiška.aux
PDFs/Projekto_paraiška.toc
PDFs/Projekto_paraiška.synctex.gz
PDFs/Projekto_paraiška.tex
PDFs/Projekto_paraiška.out
PDFs/Projekto_paraiška.log
PDFs/Projekto_paraiška.lof
PDFs/Projekto_paraiška.fls
PDFs/Projekto_paraiška.fdb_latexmk
PDFs/Projekto_paraiška.aux
assets/images/KTU.png
