---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 40%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

ul {
  list-style-type: none; /* Removes default list bullet */
  padding-left: 0;
}

ul li {
  display: inline-block; /* Makes the list items appear inline */
  margin-right: 10px; /* Add space between inline items */
}

ul ul li {
  color: blue;
  font-weight: bold;
}

ul ul ul li {
  color: red;
  font-style: italic;
}