---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 40%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}


ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
  margin-right: 15px;
  background-color: lightyellow; /* Background color for each item */
}

ul ul li {
  color: blue;
  font-weight: bold;
}

ul ul ul li {
  color: green;
  font-size: 12px;
}

ul li::after {
  content: "|"; /* Add a custom separator */
  margin-left: 10px;
}

ul li:last-child::after {
  content: ""; /* Remove the separator for the last item */
}
