---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 40%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}
